version: '3.8'

services:

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=my_app_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    container_name: fastapi_backend
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URI=postgresql+asyncpg://postgres:postgres@db:5432/my_app_db
      - REDIS_URL=redis://:very_strong_pass123@redis:6379/0
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: /api
    container_name: react_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  redis:
   image: redis:7-alpine
   container_name: redis_cache
   command: redis-server --requirepass very_strong_pass123
   ports:
    - "6379:6379"
   restart: always

volumes:
  postgres_data:
